@(roomId: String, userId: String)

@main("Chat Room") {
    <h2>Room: @roomId | User: @userId</h2>
    <div style = "display: flex; gap: 20px;">
        <div style = "flex: 2;">
            <div id="chatBox"></div>
            <div id="SendChatMessagePrompt">
                <label for="chatInput">Enter Message:</label>
                <input id="chatInput" type="text" placeholder="Type a Message ..."/>
                <button onclick="sendChatMessage()">Send Chat</button>
            </div>

            <div id = "SendPostMessageButton">
                <button onclick="showPostInput()">Send Post</button>
            </div>

            <div id="postInputContainer" style="display: none; margin-top: 10px;">
                <label for="postInput">Enter Post:</label>
                <input id="postInput" type="text" placeholder="Type a URL ..."/>
                <button onclick="sendPostMessage()">Submit Post</button>
            </div>
        </div>
        <div style="flex: 1;">
            <h4>Users</h4>
            <table id="userTable" border="1">
                <thead>
                <tr><th>User ID</th><th>Status</th></tr>
                </thead>
                <tbody id="userStatus"></tbody>
            </table>
        </div>
    </div>
    <script src='@routes.Assets.versioned("javascripts/chat.js")'></script>
    <script type="text/javascript">
        const userId = '@userId';
        initChat("@userId", "@roomId");
    </script>


}
